{% extends "lms/layout.html" %}
{% load static %}

{% block content %}

    <div class="content container-fluid">
        {% include "lms/page-header.html" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card comman-shadow">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title student-info">{{ pagename }}</h5>
                                    {% if messages %}
                                    {% for msg in messages %}
                                        <div class="alert alert-{{ msg.tags }}">{{msg}}</div>
                                    {% endfor %}   
                                    {% endif %}
                                    
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Teacher ID </label>
                                        <input class="form-control" type="number" placeholder="Enter Teacher ID" required name="id">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>First Name <span class="login-danger" >*</span></label>
                                        <input class="form-control" type="text" placeholder="Enter First Name" name="firstname" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>lastname <span class="login-danger" >*</span></label>
                                        <input class="form-control" type="text" placeholder="Enter lastname" name="lastname" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Othernames <span class="login-danger">optional</span></label>
                                        <input class="form-control" type="text" placeholder="Enter Other Names" name="othername">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Address <span class="login-danger" >*</span></label>
                                        <input class="form-control" type="text" placeholder="Enter Address" name="address" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Gender <span class="login-danger">*</span></label>
                                        <select class="form-control select" name="gender" required>
                                            <option selected disabled>Select Gender</option>
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Disability <span class="login-danger" >*</span></label>
                                        <select class="form-control select" name="disability">
                                            <option selected disabled required>Select Disability</option>
                                            <option>None</option>
                                            <option>Movement</option>
                                            <option>Hearing</option>
                                            <option>Vision</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Phone </label>
                                        <input class="form-control" type="number" placeholder="Enter Phone Number" name="phone">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Assign Role <span class="login-danger" >Optional</span></label>
                                        <select class="form-control select" name="role">
                                            <option selected disabled required>Select Role</option>
                                            <option>Staff</option>
                                            <option>Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="student-submit">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}