<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>{{ pagename }}</title>

        <link rel="shortcut icon" href="assets/img/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'lms/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'lms/assets/plugins/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'lms/assets/plugins/icons/flags/flags.css' %}">
        <link rel="stylesheet" href="{% static 'lms/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'lms/assets/plugins/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'lms/assets/css/style.css' %}">
    </head>
<body>

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'lms/assets/img/logo.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Welcome to QuoSys</h1>
                        <h2>{{ pagename }}</h2>
                        <p>
                            {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-{{ msg.tags }}">{{msg}}</div>
                            {% endfor %}   
                            {% endif %}
                        </p>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>User ID <span class="login-danger">*</span></label>
                                <input class="form-control" type="text" name="username">
                                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <div class="form-group">
                                <label>Password <span class="login-danger">*</span></label>
                                <input class="form-control pass-input" type="password" name="password">
                                <span class="profile-views fas fa-eye toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="{% static 'lms/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lms/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lms/assets/js/feather.min.js' %}"></script>
    <script src="{% static 'lms/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'lms/assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'lms/assets/plugins/apexchart/chart-data.js' %}"></script>
    <script src="{% static 'lms/assets/js/script.js' %}"></script>
</body>
</html>