{% extends "lms/layout.html" %}
{% load static %}

{% block content %}

    <div class="content container-fluid">
        {% include "lms/page-header.html" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card comman-shadow">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title student-info">{{ pagename }}<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Department ID </label>
                                        <input class="form-control" type="number" value="{{ department.did }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Department Name </label>
                                        <input class="form-control" type="text" value="{{ department.title }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Head of Department</label>
                                        <input class="form-control" type="text" value="{{ department.hod }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Asst. Head of Department</label>
                                        <input class="form-control" type="text" value="{{ department.assistant_hod }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Number of Staff</label>
                                        <input class="form-control" type="number" value="{{ department.number_of_workers }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>About the Department</label>
                                        <input class="form-control" type="text" value="{{ department.about }}">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-12">
                            <div class="student-submit">
                                <a href="{% url 'edit-department' department.did %}"  class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}